p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}


.thumbnail {
    width: 300px;
}

.searchbar {
    display: block;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.channel-picture {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.profile-picture {
    width: 40px;
    border-radius: 50px;
}

.video-info {
    display: inline-block;
    width: 200px;
}

.video-title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-author {
    font-size: 12px;
    color: rgb(97, 97, 97);
    margin-bottom: 4px;
}

.video-stats {
    font-size: 12px;
    color: rgb(97, 97, 97);
}